include ./layout.jade
	body
		div
			button(onclick="addStore()") Add Store
		each store in json
			div
				a(href="/editStore/#{store.id}") !{store.name}

script.
	function addStore() {window.location.href = '/storePostPage'}		