include ./layout.jade
	body
		div
			button(onclick="addStore()") Add Store
		div
			a(href="/editStore/#{json.storeId}") !{json.storeId}

script.
	function addStore() {window.location.href = '/storePostPage'}		