include ./layout.jade
	body
		div
			img(src='http://res.cloudinary.com/shoppingdirectory/image/upload/v1468162907/irze7hodlzhwj2fpspz6.jpg')
			img(src='http://res.cloudinary.com/shoppingdirectory/image/upload/c_pad,h_300,w_400/v1468162907/irze7hodlzhwj2fpspz6.jpg')
			img(src='http://res.cloudinary.com/shoppingdirectory/image/upload/c_crop,g_north,h_200,w_260/v1468162907/irze7hodlzhwj2fpspz6.jpg')
			form(action='/login', method='post')
				div
					input(type="text" placeholder="name" name="name")
				div
					input(type="password" placeholder="password" name="password")
				div
					button(type="Submit") Login