include ./layout.jade
	body
		div
			form(action='/storePost', method='post')
				div
					input(type="text" placeholder="name" name="name")
				div
					input(type="text" placeholder="city" name="city")
				div
					input(type="text" placeholder="doorNo" name="doorNo")
				div 
					input(type="text" placeholder="state" name="state")
				div
					input(type="text" placeholder="country" name="country")
				div
					input(type="text" placeholder="district" name="district")
				div
					input(type="text" placeholder="zipcode" name="zipcode")
				div
					input(type="text" placeholder="area" name="area")
				div
					input(type="text" placeholder="category" name="category")		
				div
					button(type="Submit") Submit
		